<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>stocks</title>
    <link rel="stylesheet" type="text/css" href="src/css/theme.css">
    <link rel="stylesheet" type="text/css" href="src/css/dataTables.bootstrap.css">

    <link rel="stylesheet" type="text/css" href="dist/page.css">
    <script type="text/javascript" src="src/js/jquery.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    
    
    
    
</head>

<body>
	<div class="mb20">
		<form class="form-inline" >
		  <div class="form-group">
		    <label  >股价强度</label>
		    <input  class="form-control"  v-model="priceStrength"  placeholder="股价强度" >
		  </div>
		  <div class="form-group">
		    <label >利润强度</label>
		    <input  class="form-control"  v-model="profitStrength"  placeholder="利润强度" >
		  </div>
		  
		  <button  @click.prevent="filter" class="btn btn-primary">筛选</button>
		</form>
	</div>
    <table id="main-table" class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>代码</th>
          <th>名称</th>
          <th>近一年涨幅</th>
          <th>股价强度</th>
          <th>利润同比</th>
          <th>利润强度</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(index,stock) in stocks" track-by="$index">
          <td>{{stock.code}}</td>
          <td>{{stock.name}}</td>
          <td>{{stock.涨跌幅度}}</td>
          <td>{{stock.priceStrength}}</td>
          <td>{{stock.profit}}</td>
          <td>{{stock.profitStrength}}</td>
        </tr>
      </tbody>
    </table>

  
    <script src="dist/build.js"></script>
    <script type="text/javascript">
    	
    	$(function(){
		    
		});
    </script>
</body>

</html>
